.container{
  max-width: 400px;
  margin: 10vh auto 0 auto;
  /* box-shadow: 1px ; */
  
}

.top{
  border: 2px solid rgb(177, 177, 177);
  border-bottom: 1px;
  border-bottom-style: inset;
}

#display{
  
  padding: 16px 15px;
  line-height: 70px;
  /* border: 1px #999;
  border-style: double; */
  color: rgb(105, 103, 103);
  /* margin: 9px 14px; */
  border-radius: 2px;
}

#calcscreen{
  text-align: right;
  width: 100%;
  font-size: 30px;
}

.controls{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px solid rgb(211, 211, 211);
}

.button{
  text-align: center;
  border: 1px solid rgb(211, 211, 211);
  vertical-align: auto;
  font-size: 25px;
  cursor: pointer;
  line-height: 50px;
}

.symbol{
  background-color: rgb(235, 233, 243);
  color: blueviolet;
}

.button:hover{
  background-color: rgb(97, 91, 91);
  transition: 0.3s;
  color: white;
}

.symbol:hover{
  background-color: rgb(77, 52, 167);
}

.button:active{
  opacity: 0.5;
}

#equals{
  background-color: rgb(87, 23, 146); 
  color: rgb(255, 255, 255);
}

#equals:hover{
  background-color: rgb(146, 30, 255); 
}